# =========================
# Virtual Environments
# =========================
case_env/
venv/
env/

# =========================
# Python Cache
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Jupyter Notebook
# =========================
.ipynb_checkpoints/

# =========================
# Data Files (DO NOT PUSH)
# =========================
data/
*.csv
*.xls
*.xlsx

# =========================
# Power BI Files
# =========================
*.pbix
*.pbix.tmp

# =========================
# Logs
# =========================
*.log

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Misc
# =========================
*.zip
*.tar.gz